*.aux
*.pdf
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.fls
*.el
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.pdf
*.out
*.synctex.gz
*.fdb_latexmk

*.DS_Store
*.xlsx
